@model Capstone_Project.Models.NewGoal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<head>
    <style>

        body {
            background-image: url("https://i.ibb.co/TcMQjkM/All-white.jpg");
            background-repeat: no-repeat;
            background-size: 1000%;
        }
    </style>


</head>

<div>
    <h4>NewGoal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monthly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monthly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
