@model IEnumerable<Capstone_Project.Models.MonthlyFinance>

@{
    ViewData["Title"] = "";
}

<h1>View/Edit Monthly Finances</h1>
<!DOCTYPE html>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                "50/30/20 Rule Data"
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="pie"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">

    var piechart = document.getElementById('pie').getContext('2d');
    var mypiechart = new Chart(piechart, {
        type: 'pie',
        data: {
            labels: ['Needs', 'Wants', 'Savings', 'Debt'],
            datasets: [{
                label: 'Pie Chart',
                data: [100, 200, 300, 400],
                backgroundColor: [
                    'rgba(255, 99, 132, 250)',
                    'rgba(54, 162, 235, 250)',
                    'rgba(255, 206, 86, 250)',
                    'rgba(75, 192, 192, 250)'
                ],






            }]
        },

        options: {

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                "Financial Goals"
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="line"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">
    var linechart = document.getElementById('line').getContext('2d');
    var mylinechart = new Chart(linechart, {
        type: 'line',
        data: {
            labels: ['1 Month', '2 Month', '3 Months', '4 Months', '5  Months', '6 Months', '7 Months', '8 Months', '9 Months', '10 Months', '11 Months', '1 Year'],
            datasets: [{
                label: 'line Chart',
                data: [100, 200, 300],
                backgroundColor: [

                    'rgba(54, 162, 235, 250)',
                    'rgba(255, 206, 86, 250)',
                    'rgba(75, 192, 192, 250)'
                ],


            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }

                }]
            }
        }



    })







</script>

<head>
    <style>

        body {
            background-image: url("https://i.ibb.co/TcMQjkM/All-white.jpg");
            background-repeat: no-repeat;
            background-size: 1000%;
        }
    </style>


</head>
<body>

</body>


<p>
    <a asp-action="Create">Add New Item</a>
</p>

<style>



    th {
        background-color: #009879;
        color: #ffffff;
    }

    tr:nth-child(odd) {
        background-color: #eeeeee;
    }
</style>


<table class="table">





    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)

                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>


</table>


